.product-wrapper{
    width: 30%;
    margin-bottom: 20px;
}

.product-wrapper div{
    width: 100%;
}

@media screen and (max-width: 900px){
    .product-wrapper{
        width: 46%;
    }
}

@media screen and (max-width: 600px){
    .product-wrapper{
        width: 100%;
    }
}