<footer class="container-fluid bg-dark text-light py-4 mt-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 text-center">
      <div id="footer-links" class="d-flex flex-row justify-content-center">
        <a
          class="nav-link px-4"
          routerLinkActive="active"
          aria-current="page"
          routerLink="/home"
          >Home</a
        >
        <a
          class="nav-link px-4"
          routerLinkActive="active"
          routerLink="/products"
          >Products</a
        >
        <a
          class="nav-link px-4"
          routerLinkActive="active"
          routerLink="/register"
          >Register</a
        >
      </div>

      <hr class="mt-2" />
      <h6>Mihajlo Cabraja Angular &copy;</h6>
    </div>
  </div>
</footer>
