<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/images/slide1.jpg"
        class="d-block w-100"
        alt="Slide 1"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Start Your Fitness Journey Here</h5>
        <p>
          Push yourself to new limits with our cutting-edge fitness equipment
          and expert training programs.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/images/slide2.jpg"
        class="d-block w-100"
        alt="Slide2"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Achieve Your Goals</h5>
        <p>
          Transform your body and mind with our comprehensive fitness equipment
          designed to help you achieve your goals.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/images/slide3.jpg"
        class="d-block w-100"
        alt="Slide3"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Tailored to You, for Your Results</h5>
        <p>
          Discover the power of fitness and unlock your full potential with our
          community of supportive trainers and members.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- TESTIMONIES -->

<div id="testimonies" class="container py-5">
  <h2 class="fw-bold text-center">Our Happy Customers</h2>
  <hr />

  <div class="row mt-4">
    <div class="col-12 col-md-4 mb-3">
      <div class="card shadow">
        <img
          src="../../../assets/images/person1.jpg"
          class="card-img-top"
          alt="Ana"
        />
        <div class="card-body">
          <h5 class="card-title">Ana Marković</h5>
          <p class="card-text">
            I recently purchased some fitness equipment from Gym Shop, and I
            couldn't be happier with my experience. The customer service was
            exceptional, and they helped me choose the right products based on
            my fitness goals and budget.
          </p>
          <p class="card-text mt-2">
            <small class="text-muted">Visited: Utah & Colorado</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="card shadow">
        <img
          src="../../../assets/images/person2.jpg"
          class="card-img-top"
          alt="Stephen"
        />
        <div class="card-body">
          <h5 class="card-title">Stephen Rogers</h5>
          <p class="card-text">
            I've been a loyal customer of Gym Shop for years, and they never
            disappoint. From their wide range of workout apparel to their
            state-of-the-art fitness equipment, they have everything a fitness
            enthusiast needs. What sets them apart is their commitment to
            customer satisfaction.
          </p>
          <p class="card-text mt-2">
            <small class="text-muted">Visited: Florida</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="card shadow">
        <img
          src="../../../assets/images/person3.jpg"
          class="card-img-top"
          alt="Nina"
        />
        <div class="card-body">
          <h5 class="card-title">Nina Smith</h5>
          <p class="card-text">
            I recently transformed my garage into a home gym and turned to Gym
            Shop for all my fitness equipment needs. I was impressed by their
            extensive selection and competitive prices. The website was
            user-friendly, making it easy for me to find the right products.
          </p>
          <p class="card-text mt-2">
            <small class="text-muted">Visited: Louisiana & Texas</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
