@font-face {
    font-family: Main;
    src: url('/assets/fonts/PathwayExtreme-VariableFont_opsz\,wdth\,wght.ttf');
}
@font-face {
    font-family: MainItallic;
    src: url('/assets/fonts/PathwayExtreme-Italic-VariableFont_opsz\,wdth\,wght.ttf');
}

body{
    font-family: Main;
}
